<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gerador de Dicas</title>
<link href="styles/style.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<h1>Gerador de dicas</h1>
		<form action="../DicasController">
			<input type="text" name="titulo" id="titulo"
				placeholder="Título"> 
			<input type="text" name="subTitulo" id="subTitulo"
				placeholder="Subtítulo"> 
			<input type="text" name="autor" id="autor"
				placeholder="Autor"> 
				
			<textarea name="dica" id="dica"
				placeholder="Dica"></textarea>
				
			<input type="submit" value="Adicionar" name="opcao" id="submit" onClick="validar()"> 
			
			<input type="Reset" value="Limpar">
		</form>
	</div>
	<script src="script/validation.js" type="text/javascript"></script>
</body>
</html>